<header>
  <div class="banner">
    <img src="../assets/images/banner.jpg" alt="Musical Instruments Banner">
  </div>
  <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</header>

<main>
  <img src="../assets/images/michele.png" class="profile-img" alt="Profile Picture">
  <div class="content">
    <h1>Welcome to my website!</h1>
    <p>Music has been the rhythm of my life for as long as I can remember.
      With 20 years of piano mastery and a decade's journey with the guitar,
      my days are composed of melodies and harmonies. My formal education
      includes a Bachelor's degree in Music and a grade 8 in musical theory,
      underscoring my dedication to the art. Music isn't just a passion; it's
      my everyday language, one that I compose and play relentlessly.<br><br>
      My teaching experience spans individuals of all ages, a journey that has been as rewarding
      as it has been enlightening. I cherish the opportunity to share my love for music,
      guiding students through their own musical journeys with private lessons in piano,
      guitar, and music theory.</p>
  </div>
  <router-outlet />
</main>

