<body>
  <header>
    <img src="../assets/images/banner.jpg" class="banner" alt="Musical Instruments Banner">
    <nav>
      <ul>
        <li><a routerLink="/app-home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
        <li><a routerLink="/app-services" routerLinkActive="active" ariaCurrentWhenActive="page">Services</a></li>
        <li><a routerLink="/app-contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a></li>
      </ul>
    </nav>
  </header>
  <main>
      <img src="../assets/images/michele.png" class="profile-img" alt="Profile Picture">
      <div class="content">
        <router-outlet></router-outlet>
      </div>
  </main>
</body>
